/* globals window: true, document: true */
;(function(win, root) {
  'use strict'

  function calcRem() {
    root.style.fontSize =
      (Math.min(root.getBoundingClientRect().width, <%=project.designWidth%>) / 320) * 16 + 'px'
  }

  calcRem()
  win.addEventListener('resize', calcRem, false)
  win.addEventListener(
    'pageshow',
    function(e) {
      if (e.persisted) {
        calcRem()
      }
    }
  )
})(window, document.documentElement)
