<%
const $ = require('../snippets')

const page = {
  head: {
    title: 'layout',
    keywords: [
      ...project.keywords,
    ],
    description: '',
    styles: [
      ...project.styles,
    ],
    scripts: [
      ...project.headScripts
    ],
  },
  header: {},
  footer: {
    scripts: [
      ...project.scripts,
    ]
  }
}
%>
<!DOCTYPE html>
<%= $.htmlStartTag('') %>
  <head>
    <%= $.head(page.head) %>
    <style type="text/x-scss">
      @import "../assets/styles/global";
      @import "../assets/styles/component/page";

      .demo {
        background: #eee;

        .page__header,
        .page__footer {
          background: #fff;
          padding: 10px;
        }

        .page__main {
          padding: 10px;
        }
      }
    </style>
  </head>
  <body>
    <div class="page demo">
      <header class="page__header">
        header
      </header>
      <main class="page__main">
        --1st line--<br>
        main<br>
        main<br>
        main<br>
        main<br>
        main<br>
        main<br>
        main<br>
        main<br>
        main<br>
        main<br>
        main<br>
        main<br>
        main<br>
        main<br>
        main<br>
        main<br>
        main<br>
        main<br>
        main<br>
        main<br>
        main<br>
        main<br>
        main<br>
        main<br>
        main<br>
        main<br>
        main<br>
        main<br>
        main<br>
        main<br>
        main<br>
        main<br>
        main<br>
        main<br>
        main<br>
        main<br>
        main<br>
        main<br>
        --eof--
      </main>
      <footer class="page__footer" >
        footer
      </footer>
    </div>

    <%= $.footer(page.footer) %>
    <script src="../assets/scripts/component/_page.js?__inline"></script>
  </body>
<%= $.htmlEndTag() %>
