@mixin center-image($clip: false) {
  width: auto;
  height: auto;
  margin: auto;
  position: absolute;

  @if ($clip) {
    min-width: 100%;
    min-height: 100%;
    top: -9999px;
    bottom: -9999px;
    left: -9999px;
    right: -9999px;
  } @else {
    max-height: 100%;
    max-width: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
}
