mixin meta(name, value)
  - content = []
  if (Object.prototype.toString.call(value) === '[object Object]')
    - for (key in value)
      - content.push(value[key] ? key + '=' + value[key] : key);
  else
    - content = value.join ? value : [value];
  meta(name=name, content=content.join(','))

mixin css(...styleFiles)
  each styleFile in styleFiles
    link(href=styleFile, rel='stylesheet')

mixin js(...scriptFiles)
  each scriptFile in scriptFiles
    script(src=scriptFile)

