@function get-directions($orignal-direction) {
  @if $orignal-direction == up {
    $orignal-direction: top;
  }

  @if $orignal-direction == down {
    $orignal-direction: bottom;
  }

  $opposite-directions: (
    top: bottom,
    bottom: top,
    left: right,
    right: left,
  );

  $opposite-direction: map-get($opposite-directions, $orignal-direction);

  $directions-rest: map-keys(
    map-remove($opposite-directions, $orignal-direction, $opposite-direction)
  );

  $directions: (
    $orignal-direction,
    nth($directions-rest, 1),
    nth($directions-rest, 2),
    $opposite-direction
  );

  @return $directions;
}
