<!DOCTYPE html>
<link rel="import" href="/snippets/base/_html-start-tag.pug?__inline">
  <head>
    <link rel="import" href="/snippets/base/_head.pug?__inline">
    <title>btn</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <link href="/static/styles/main.scss" rel="stylesheet">
    <style type="text/x-scss">

      .demo {
        padding:  15px;

        button {
          margin: 5px;
        }
      }
    </style>
  </head>
  <body>

    <div class="container demo">
      <legend>.u-btn (css、js)</legend>
      <div>
        <button class="btn" type="button">.btn</button>
        <button class="btn btn--primary" type="button">.btn.btn--primary</button>
        <button class="btn btn--primary" type="button" disabled>.btn.btn--primary[disabled]</button>
        <button class="btn btn--ghost" type="button">.btn.btn--ghost</button>
        <button class="btn btn--ghost btn--primary" type="button">.btn.btn--ghost.btn--primary</button>
        <button class="btn btn--ghost btn--primary" type="button" disabled>.btn.btn--ghost.btn--primary[disabled]</button>
        <button class="btn btn--rounded" type="button">.btn.btn--primary.btn--rounded</button>
        <button class="btn btn--pill" type="button">.btn.btn--primary.btn--pill</button>
        <button class="btn btn--lg" type="button">.btn--lg</button>
        <button class="btn btn--sm" type="button">.btn--sm</button>
      </div>
    </div>

    <script src="../../static/vendors/jquery/jquery-1.12.4.min.js"></script>

  </body>
<link rel="import" href="/snippets/base/_html-end-tag.pug?__inline">
