<%
const $ = require('../../snippets/jst')

const page = {
  head: {
    title: 'loading',
    keywords: [
      ...(project.keywords || []),
    ],
    description: '',
    styles: [
      ...(project.styles || []),
    ],
    scripts: [],
  },
  header: {},
  footer: {
    scripts: [
      '/project/scripts/config.js.jst',
      ...(project.scripts || []),
    ]
  }
}
%>
<!DOCTYPE html>
<%= $.htmlStartTag('') %>
  <head>
    <%= $.head(page.head) %>
    <style type="text/x-scss">
      @import '../../assets/styles/global';
      @import '../../assets/styles/component/switch';

      .demo {
        padding:  15px;
      }
    </style>
  </head>
  <body>

    <div class="container demo">
      <legend>.u-loading (css)</legend>
    </div>

    <%= $.footer(page.footer) %>
  </body>
<%= $.htmlEndTag() %>
