<!DOCTYPE html>
<link rel="import" href="/snippets/base/_html-start-tag.pug?__inline">
  <head>
    <link rel="import" href="/snippets/base/_head.pug?__inline">
    <title>number -password</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <link href="/static/styles/main.scss" rel="stylesheet">
    <style type="text/x-scss">
      @import '../../static/styles/global';
      @import '../../static/styles/component/number-password';

      .demo {
        padding:  15px;
      }
      .u-number-password {
        display: block;
        width: 18em;
        height: 3em;
      }
    </style>
  </head>
  <body>

    <div class="container demo">
      <legend>.u-number-password (css、js)</legend>
      <label class="u-number-password">
        <input class="u-number-password__input" type="password" maxlength="6">
      </label>
    </div>

    <script src="../../static/vendors/jquery/jquery-1.12.4.min.js"></script>
    <script src="../../static/scripts/component/_number-password.js?__inline"></script>
  </body>
<link rel="import" href="/snippets/base/_html-end-tag.pug?__inline">
