<%
const $ = require('../../snippets/jst')

const page = {
  head: {
    title: 'btn',
    keywords: [
      ...(project.keywords || []),
    ],
    description: '',
    styles: [
      ...(project.styles || []),
    ],
    scripts: [],
  },
  header: {},
  footer: {
    scripts: [
      '/project/scripts/config.js.jst',
      ...(project.scripts || []),
      '../../assets/scripts/component/_number-password.js?__inline',
    ]
  }
}
%>
<!DOCTYPE html>
<%= $.htmlStartTag('') %>
  <head>
    <%= $.head(page.head) %>

    <style type="text/x-scss">
      @import '../../assets/styles/global';
      @import '../../assets/styles/component/number-password';

      .demo {
        padding:  15px;
      }
      .u-number-password {
        display: block;
        width: 18em;
        height: 3em;
      }
    </style>
  </head>
  <body>

    <div class="container demo">
      <legend>.u-number-password (css、js)</legend>
      <label class="u-number-password">
        <input class="u-number-password__input" type="password" maxlength="6">
      </label>
    </div>

    <%= $.footer(page.footer) %>
  </body>
<%= $.htmlEndTag() %>
