<!DOCTYPE html>
<link rel="import" href="/snippets/pug/base/_html-start-tag.pug?__inline">
  <head>
    <link rel="import" href="/snippets/pug/base/_head.pug?__inline">
    <title>check</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <link href="/assets/styles/main.scss" rel="stylesheet">
    <style type="text/x-scss">
      @import '../../assets/styles/global';
      @import '../../assets/styles/component/slide';

      .demo {
        padding:  15px;
      }
    </style>
  </head>
  <body>

    <div class="container demo">
      <legend>.u-slide (css)</legend>

      <div class="u-slide">
        <ul class="u-slide__wrap">
          <li class="u-slide__item"><a href="###"><img src="http://placehold.it/800x400"></a></li>
          <li class="u-slide__item"><a href="###">123</a></li>
          <li class="u-slide__item"><a href="###"><img src="http://placehold.it/800x400"></a></li>
          <li class="u-slide__item"><a href="###">123</a></li>
          <li class="u-slide__item"><a href="###"><img src="http://placehold.it/800x400"></a></li>
        </ul>
      </div>
    </div>

  </body>
<link rel="import" href="/snippets/pug/base/_html-end-tag.pug?__inline">
