<!DOCTYPE html>
<link rel="import" href="/snippets/base/_html-start-tag.pug?__inline">
  <head>
    <link rel="import" href="/snippets/base/_head.pug?__inline">
    <title>check</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <link href="/static/styles/main.scss" rel="stylesheet">
    <style type="text/x-scss">
      @import '../../static/styles/global';
      @import '../../static/styles/component/spinner';

      .demo {
        padding:  15px;
      }

      .u-spinner {
        font-size: 16px;
        color: lightseagreen;
        vertical-align: -.25em;
      }
    </style>
  </head>
  <body>

    <div class="container demo">
      <legend>.u-spinner (css)</legend>
      <div>
        <div class="u-spinner">
          <!-- <svg class="u-spinner__svg" viewBox="0 0 16 16">
            <circle class="u-spinner__circle" cx="8" cy="8" r="6.875" fill="none"/>
          </svg> -->
        </div>
        test
        <div class="u-spinner u-spinner_colors">
          <!-- <svg class="u-spinner__svg" viewBox="0 0 16 16">
            <circle class="u-spinner__circle" cx="8" cy="8" r="6.875" fill="none"/>
          </svg> -->
        </div>
        测试
      </div>
    </div>

  </body>
<link rel="import" href="/snippets/base/_html-end-tag.pug?__inline">
