<%
const $ = require('../../snippets')

const page = {
  head: {
    title: 'switch',
    keywords: [
      ...project.keywords,
    ],
    description: '',
    styles: [
      ...project.styles,
    ],
    scripts: [
      ...project.headScripts
    ],
  },
  header: {},
  footer: {
    scripts: [
      ...project.scripts,
      '../../assets/scripts/component/_range-input.js?__inline',
    ]
  }
}
%>
<!DOCTYPE html>
<%= $.htmlStartTag('') %>
  <head>
    <%= $.head(page.head) %>
    <style type="text/x-scss">
      @import '../../assets/styles/global';
      @import '../../assets/styles/component/switch';

      .demo {
        padding:  15px;
      }
    </style>
  </head>
  <body>

    <div class="container demo">
      <legend>.u-check (css)</legend>
      <label class="u-switch">
        <input type="checkbox">
        <i class="u-indicator"></i>
      </label>
      <label class="u-switch">
        <input type="checkbox" checked>
        <i class="u-indicator"></i>
      </label>123
    </div>

    <%= $.footer(page.footer) %>
  </body>
<%= $.htmlEndTag() %>
