<!DOCTYPE html>
<link rel="import" href="/snippets/base/_html-start-tag.pug?__inline">
  <head>
    <link rel="import" href="/snippets/base/_head.pug?__inline">
    <title>switch</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <link href="/assets/styles/main.scss" rel="stylesheet">
    <style type="text/x-scss">
      @import '../../assets/styles/global';
      @import '../../assets/styles/component/switch';

      .demo {
        padding:  15px;
      }
    </style>
  </head>
  <body>

    <div class="container demo">
      <legend>.u-check (css)</legend>
      <label class="u-switch">
        <input type="checkbox">
        <i class="u-indicator"></i>
      </label>
      <label class="u-switch">
        <input type="checkbox" checked>
        <i class="u-indicator"></i>
      </label>123
    </div>

  </body>
<link rel="import" href="/snippets/base/_html-end-tag.pug?__inline">
