<!DOCTYPE html>
<link rel="import" href="/snippets/base/_html-start-tag.pug?__inline">
  <head>
    <link rel="import" href="/snippets/base/_head.pug?__inline">
    <title>switch</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <link href="/static/styles/main.scss" rel="stylesheet">
    <style type="text/x-scss">
      @import '../../static/styles/global';
      @import '../../static/styles/component/tab-panel';

      .demo {
        padding:  15px;
      }

      .u-tab-panel__tab {
        margin-bottom: -1px;
        padding: 5px 10px;
        cursor: pointer;
      }

      .u-tab-panel__tab_current {
        background: #ccc;
      }

      .u-tab-panel__content {
        padding: 10px;
        border: 1px solid #ccc;
      }
    </style>
  </head>
  <body>

    <div class="container demo">
      <legend>.u-tab-panel (css、js)</legend>
      <div class="u-tab-panel">
        <h4 class="u-tab-panel__tab">tab1</h4>
        <div class="u-tab-panel__panel">
          <div class="u-tab-panel__content">
            content 1
          </div>
        </div>
        <h4 class="u-tab-panel__tab">tab2</h4>
        <div class="u-tab-panel__panel">
          <div class="u-tab-panel__content">
            content 2
          </div>
        </div>
      </div>
    </div>

    <script src="../../static/vendors/jquery/jquery-1.12.4.min.js"></script>
    <script src="../../static/scripts/component/_tab-panel.js?__inline"></script>

  </body>
<link rel="import" href="/snippets/base/_html-end-tag.pug?__inline">
