<%
const page = {
  title: 'title',
  keywords: [
    ...(project.keywords || []),
  ],
  description: '',
  styles: [
    ...(project.styles || []),
  ],
  scripts: [
    './project/scripts/config.js.jst',
    ...(project.scripts || []),
  ]
}
%>
<!DOCTYPE html>
<%= $.htmlStartTag('') %>
  <head>
    <%= $.head(page) %>
  </head>
  <body>
    <div class="container">hello <%- env.user || 'world' %>!</div>

    <%= $.script(page.scripts) %>
  </body>
<%= $.htmlEndTag() %>
