doctype html
include snippets/_global

-
  title = 'title';

  keywords = [
  ];

  description = '';

  cssFiles = [
    './assets/styles/main.scss',
  ];

+htmlStartTag(config)
head
  +head(config)
  title= title
  + meta('keywords', keywords)
  + meta('description', description)
  each cssFile in cssFiles
    + css(cssFile)
body
  .container hello #{config.env.user || 'world'}!

  script(src="/project/config.js.ejs")
  +polyfill(config)
  +jquery(config)

+htmlEndTag(config)
