[type="date"],
[type="datetime-local"],
[type="month"],
[type="time"],
[type="week"] {

  &[placeholder] {
    &::before {
      content: attr(placeholder);
      color: $input-placeholder;
    }

    &::-webkit-datetime-edit,
    &::-webkit-clear-button,
    &::-webkit-inner-spin-button,
    &::-webkit-calendar-picker-indicator {
      display: none;
    }
  }
}
