.u-number-password {
  $selector: &;
  $element-input: #{&}__input;

  width: 12em;

  &__input {
    display: block;
    width: 100%;
  }

  &__digit {
    display: inline-block;
    width: percentage(1 / 6);
    position: relative;
    height: 100%;

    &::before {
      width: 0.5em;
      height: 0.5em;
      background: currentcolor;
      border-radius: 50%;
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      margin: auto;
    }

    &::after {
      content: "";
      position: absolute;
      left: -1px;
      right: 0;
      top: -1px;
      bottom: -1px;
      border: 1px solid $input-border-color;
    }

    &_has-value {
      &::before {
        content: "";
      }
    }
  }

  &__display {
    border: solid $input-border-color;
    border-width: 1px 0 1px 1px;
    border-right: 0;
    display: block;
    height: 100%;
  }

  &_inited {
    position: relative;

    #{$element-input} {
      position: absolute;
      right: 0;
      top: 0;
      text-indent: -100em;
      width: 100%;
      height: 100%;
      z-index: 2; // 1 won't work for firefox
      font-size: 1px;

      // &:focus {
      //   outline: 0;

      //   @if $focus-outline {
      //     + #{$selector}-display :first-child:not(.has-value),
      //     + #{$selector}-display .has-value + :not(.has-value) {
      //       z-index: 1;

      //       &::after {
      //         outline: 1px dotted;
      //         outline: 5px auto -webkit-focus-ring-color;
      //       }

      //     }
      //   }
      // }
    }
  }
}
