@import "global";

// normalize && reboot
@import "../vendors/normalize.css/normalize.css";
@import "base/reboot";

// components
// @import "component/number-input";
// @import "component/check";
// @import "component/switch";
// @import "component/file";
// @import "component/date-placeholder";
// @import "component/dialog";
// @import "component/slide";
// @import "component/number-password";
// @import "component/spinner";

